body {
    background-image: url('../images/vader.jpg');
    color: #feda4a;
    font-family: 'Pathway-Gothic One', sans-serif;
}

.name {
    margin-top: 20px;
    text-align: center;
    border: #feda4a 2px solid;
    -webkit-text-stroke: 1px black;
}

.question, .answer, .results {
    border: #0d4069 2px solid;
    padding: 20px;
    height: auto;
}

#q, #timeLeft {
    text-align: center;
}

button {
    background-color: black;
    border:  #feda4a 2px solid;
    color: #feda4a;
    font-family: 'Pathway-Gothic One', sans-serif;
}

.question {
    text-align: left;
}

.answer, .results {
    text-align: center;
}

@media screen and (max-width: 980px) {
    body {
        background-image: url('../images/vader_small.png');
    }
}
